.list {
    width: 600px;
    margin: 30px auto;
    padding: 16px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display : flex;
    justify-content:space-between;
}

.feed-header{
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}

.user-info{
    display: flex;
}

.profile-image {
  margin-right: 12px;
  width: 50px;
  border-radius: 50px;
}

.username{
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.date{
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-1);
}

.title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.text{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.list-image{
    width:134px;
    height:134px;
    border-radius: 10px;
}

.post{
    width: 600px;
    margin: 30px auto;
    padding: 16px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feed-contents{
    margin-bottom: 24px;
}

.feed-image{
    width: 100%;
    border-radius: 10px;
}

.post-footer{
    display: flex;
    align-items: center;
    gap: 4px;
  
    span {
      margin-right: 10px;
      font-size: 14px;
    }
}