#home{
    width: 100%;
    position: relative;
}

#main{
    width: 100%;
    height: 650px;
    
    position: relative;
    /* padding:0 60px; */

    background-image: url(../assets/main-img.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;    
}

#main .gradient{
    width: 30%;
    height: 650px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 100%);
}

#main .home-title{
    position: absolute;
    left:60px;
    top:100px;
}


#main .home-title .slogan{
    color:var(--white);
    font-size: 40px;
    font-weight: var(--font-weight-sb);
    margin-bottom: 30px;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);

}

#main .home-title .description{
    color:var(--white);
    font-size: var(--body-18);
    font-weight: var(--font-weight-m);
}

#main .home-title .logo{
    font-size: var(--head-32);
    color:var(--primary-color);
    font-weight: var(--font-weight-m);
    margin-bottom: 30px;
}

#main .home-title .startBtn{
    padding:10px 36px;
    border-radius: 25px;
    background-color: var(--primary-color);
    border:1px solid transparent;
    color:var(--white);
    font-size: var(--head-20);
    font-weight: var(--font-weight-m);
    transition: all 0.2s;
}
#main .home-title .startBtn:hover{
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* background-color: transparent; */
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid transparent;
    /* border: 1px solid var(--primary-color); */
}


