#shop{
    width: 100%;
    height: 900px;
    margin: 0 auto;
    background-color: #f9f9f9;
}
#shop h1{
    color:#525252;
    text-align: center;
    padding-top:80px;
    padding-bottom:60px;
}

#shop > p{
    text-align: center;
    font-size: var(--body-18);
    margin-bottom: 30px;
}


.nutrient{
    width: 520px;
    margin: 0 auto;
    border: 1px solid var(--primary-color);
    padding: 16px 24px;
    border-radius: 20px;
    margin-bottom: 40px;
    background-color: #fff;
}
.nutrient > h2{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: var(--body-16);
}
.nutrient > h2 > span{
    color: var(--primary-color);
}
.nutrient .nutrient-chart{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}
.nutrient .nutrient-chart .chart1{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.chart1 .slice{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    transform-origin: center center;
}
.chart1 .slice.slice1{
    background-color: #FF7092;
    transform: rotate(45deg);
}
.nutrient-chart .slice > p{
    text-align: center;
    margin: 3px;
    font-size: 14px;
    color: #fff;
}
.chart1 .slice.slice2{
    background-color: #FF9900;
    transform: rotate(155deg);
}
.chart1 .slice.slice3{
    background-color: #6ACCF6;
    transform: rotate(225deg);
}
.nutrient .nutrient-chart .chart2{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.chart2 .slice{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    transform-origin: center center;
}

.chart2 .slice:nth-child(1){
    background-color: #FF7092;
    transform: rotate(40deg);
}
.chart2 .slice:nth-child(2){
    background-color: #FF9900;
    transform: rotate(120deg);
}
.chart2 .slice:nth-child(3){
    background-color: #6ACCF6;
    transform: rotate(240deg);
}



.product{}

.product > h2{
    font-size: var(--head-20);
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}
.product > h2 > span{
    color: var(--primary-color);
}

.product .product-list{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.product .product-item{
    width: 165px;
    height: 274px;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product .product-item .product-title{
    font-size: var(--body-16);
}

.product .product-item .product-img{
    position: relative;
}
.product .product-item .product-img > img{
    width: 165px;
    height: 180px;
}
.product .product-item .product-img .cart{
    position: absolute;
    right: 12px;
    bottom: 12px;
    cursor: pointer;
}



.product .product-item .product-title{
    padding: 8px;
}
.product .product-item .price{
    padding: 0 8px;
    font-size: var(--caption-14);
    display: flex;
    text-align: center;
    font-weight: 600;
}

.originPrice.strikethrough{
    font-size: var(--caption-12);
    font-weight: 400;
    color: var(--gray-2);
    text-decoration: line-through;
    margin-right: 8px;
    line-height: 21px;
    vertical-align: middle;
    /* display: inline-block; */
}