*{
  margin:0;
  padding:0;
  font-family: 'Pretendard', sans-serif;
  line-height: 150%;
  letter-spacing: -0.175px;
  box-sizing: border-box;
  color:var(--black);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}


h1{
  font-size: var(--head-32);
}


img{
  vertical-align: top;
}




:root{

  /* --primary-color : rgb(255, 153, 0); */
  --primary-color : #FF9900;
  --sub-color : #DC7B6E;
  --black : #313131;
  --gray-1 : #6E6E6E;
  --gray-2 : #BDBDBD;
  --gray-3 : #D9D9D9;
  --gray-4 : #EEEEEE;
  --gray-5 : #F9F9F9;
  --white : #fff;

  --nav-20 : 20px;
  --caption-12 : 12px;
  --caption-14 : 14px;
  --body-16 : 16px;
  --body-18 : 18px;
  --head-20 : 20px;
  --head-24 : 24px;
  --head-32 : 32px;

  --font-weight-r : 400;
  --font-weight-m : 500;
  --font-weight-sb : 600;
}